<%- include ('partials/header') -%>

<div class="about">

    <div class="container text-light">
        <h3 class="mb-5">About Us</h3>
        <p>The organization aims to make a social media application for university students, has now reached the first stage of its goals.</p>

        <p>We aim to grow with you.</p>

        <p>We will be with you soon with a much better interface.</p>

    </div>

</div>

<%- include ('partials/footer') -%>