<%- include ('partials/header') -%>

<div class="about">

    <div class="container text-light">
        <h3 class="mb-5">About Us</h3>
        <p>Telephone : 0553 183 90 30</p>
        <p>E-posta : cobanli17@itu.edu.tr</p>

        <p>Adress :  Istanbul Technical University</p>

        <a href="https://www.instagram.com/sametcancobanli/?hl=tr" class="insta-link">
            <i class="fab fa-instagram"></i> Instagram Account
        </a>

        <a href="https://www.linkedin.com/in/sametcancobanli/" class="insta-link">
            <i class="fab fa-linkedin-in"></i> Linkedin Account
        </a>

    </div>

</div>

<%- include ('partials/footer') -%>