<%- include ('partials/header') -%>

<div class="about">

    <div class="container text-light">
        <h3 class="mb-5">Yurtlar</h3>
        <p>
            İstanbul Teknik Üniversitesi, il dışından gelen öğrencilere rahat, huzurlu, çağdaş, yüksek standartlı yurtlarda barınma olanakları sunmaktadır.  
            Yurtlarımız 4.706 kişilik yatak kapasitesi ile Ayazağa, Gümüşsuyu ve Tuzla kampüsleri içerisinde hizmet sunmaktadır. 
            Öğrenci odaları süit, tek, iki ve üç kişilik yataklardan oluşmaktadır. 
            Odalar ve genel kullanım alanları tamamen modern eşyalarla donatılmış olup odalarda telefon ve internet bağlantısı kesintisiz olarak verilebilmektedir. 
            Her binada televizyon odaları, etüt salonları ve ortak kullanıma açık oturma mekânları bulunmaktadır. 
            Öğrencilerin kullanabilecekleri mutfak, çamaşır yıkama ve ütü odaları mevcuttur. 24 saat sıcak su, içmek için kaynak suyu, güvenlik ve temizlik hizmeti sağlanmaktadır.
        </p>

        <a href="http://www.yurtburs.itu.edu.tr/" class="insta-link">
            Ayrıntılı bilgi için tıklayınız
        </a>

    </div>

</div>

<%- include ('partials/footer') -%>