<%- include ('partials/header') -%>

<div class="about">

    <div class="container text-light">
        <h3 class="mb-5">Welcome</h3>
        <p>I'm a Turkey based software engineer and web designer that creating awesome and effective works 
            for companies of all sizes around the globe. Let's start scrolling and learn more about me.</p>


    </div>

</div>

<%- include ('partials/footer') -%>