<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/0b461dff30.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/registercss.css">
    <link rel="stylesheet" type="text/css" href="/style.css">

    <title>Uni Media</title>
</head>

<body class="login_page">
    <nav class="navbar bg-dark navbar-expand-sm navbar-dark fixed-top">
        <div class="container">

            <a href="/" class="navbar-brand">
                <i class="fa fa-shield"></i></i>&nbsp;Uni Media
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item ">
                        <a href="/" class="nav-link">
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/about" class="nav-link">
                            About
                        </a>
                    </li>

                    <li class="nav-item mr-5">
                        <a href="/contact" class="nav-link">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link">
                            Register
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>



    <main class="container ">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <form class="row g-3 text-white border border-t rounded p-3" action="/check_register" method="post"
            style="margin-top: 70px;">
            <div class="col-md-6">
                <label for="username" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" placeholder="" required>
            </div>
            <div class="col-md-6">
                <label for="surname" class="form-label">Surname</label>
                <input type="text" class="form-control" name="surname" placeholder="">
            </div>
            <div class="col-md-6">
                <label for="id" class="form-label">Student ID</label>
                <input type="text" class="form-control" name="user_id" placeholder="">
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">E - mail</label>
                <input type="text" class="form-control" name="mail" placeholder="xxxxxxx@itu.edu.tr">
            </div>
            <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" placeholder="">
            </div>
            <div class="col-md-6">
                <label for="about" class="form-label">About</label>
                <input type="about" class="form-control" name="about" placeholder="">
            </div>
            <div class="col-md-6">
                <label for="department" class="form-label">Department</label>
                <select name=department class="form-control">
                    <option value="Artificial Intelligence and Data Engineering">Artificial Intelligence and Data
                        Engineering</option>
                    <option value="Aerospace Engineering">Aerospace Engineering</option>
                    <option value="Chemical Engineering">Chemical Engineering</option>
                    <option value="Civil Engineering">Civil Engineering</option>
                    <option value="Computer Engineering">Computer Engineering</option>
                    <option value="Electrical and Electronics Engineering">Electrical and Electronics Engineering
                    </option>
                    <option value="Environmental Engineering">Environmental Engineering</option>
                    <option value="Geological Engineering">Geological Engineering</option>
                    <option value="Industrial Engineering">Industrial Engineering</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                    <option value="Metallurgical and Materials Engineering">Metallurgical and Materials Engineering
                    </option>
                    <option value="Mining Engineering">Mining Engineering</option>
                    <option value="Petroleum and Natural Gas Engineering">Petroleum and Natural Gas Engineering</option>
                    <option value="Mathematics Engineering">Mathematics Engineering</option>
                </select>

            </div>

            <div class="col-md-3">
                <label for="class" class="form-label">Class</label>
                <select name="class" class="form-control">
                    <option value="Preparatory Class">Preparatory Class</option>
                    <option value="First Class">First Class</option>
                    <option value="Second Class">Second Class</option>
                    <option value="Third Class">Third Class</option>
                    <option value="Fourth Class">Fourth Class</option>
                </select>
            </div>

            <div class="col-md-3">
                <label for="class" class="form-label">Profile Picture</label>
                <input type="file" class="form-control" name="fileToUpload" placeholder="">
            </div>
            <div class="col-md-4">

            </div>
            <br />
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
        </form>
        <br>
    </main>
    <footer class="py-5 bg-dark text-white text-center mt-5 fixed-bottom">
        Copyright © 2021 All Rights Reserved
    </footer>

</body>

</html>