<%- include ('partials/header') -%>

<div class="about">

    <div class="container text-light">
        <h3 class="mb-5">Burslar</h3>
    <p>
        Başarı Bursu: ÖSYM tarafından her yıl yapılan üniversite sınavı sonucunda, ÖSYM kılavuzunda belirtilen derecelere giren ve lisans programına kayıt yaptıran öğrencilere, başarı derecelerine göre verilen burs türüdür.
    </p>
    <p>
        İhtiyaç Bursu: Ekonomik olarak ihtiyacı olduğu belirlenen öğrencilere verilen nakdi burs türüdür. Bu burslar, İTÜ Vakıfları, İTÜ Mezunları ve Dernekleri ile diğer vakıf/kurum/kuruluşlar tarafından karşılanmaktadır.
    </p>
    <p>
        Yemek Bursu: Öğrencilerin üniversitemiz yemekhanelerinde her gün 1 öğün (öğle) yemekten ücretsiz olarak yararlandığı burs türüdür.
    </p>
    <p>
        Sporcu Bursu: Üniversitemizde faaliyet gösteren branşlarda olmak üzere, branşında milli sporcu olan veya milli takım hazırlık kampına çağrılmış, takım sporlarında bir takımın yıldız, genç veya A takımı seviyelerinde oynamış ve İTÜ’ deki ilgili branş hocasının yapacağı öneri doğrultusunda, üniversiteye giriş puanı göz önünde bulundurularak, ferdi veya takım sporlarında yer alan öğrencilere verilen burs türüdür.
    </p>
    <p>
        Yurt bursu: Öğrencilerin üniversite yurtlarında ücretsiz ve indirimli kalabilmeleri için verilen burs türüdür. Üniversiteye giriş başarısına dayalı veya ihtiyaç ve akademik başarıya dayalı ücretsiz kalma hakkı olarak iki şekilde verilmektedir.
    </p>
        <a href="http://www.yurtburs.itu.edu.tr/" class="insta-link">
            Ayrıntılı bilgi için tıklayınız
        </a>

    </div>

</div>

<%- include ('partials/footer') -%>