<%- include ('partials/header') -%>

    <div class="success">

        <div class="container text-light">
            <p>Welcome to the club. Your registration has been completed. You can continue by returning to the main page.</p>

            

        </div>

    </div>

<%- include ('partials/footer') -%>