* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.navbar {
    opacity: 0.97;
    border-bottom: 1px solid #fff;
}

.jumbotron {
    padding-top: 100px;
    background-image:
        url(Photos/kapak_2.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 0px;
    object-fit: contain;
}

header div div p {
    transition: all 0.3s;
    font-family: 'Roboto', sans-serif;
}

header div div div h1 {
    transition: all 0.3s;
}

header div div p:hover {
    text-shadow: 2px 2px 4px;
}

header div div div h1:hover {
    text-shadow: 2px 2px 4px;
}

.main-bg {
    background-image: url(Photos/what.png);
}

.s-card {
    width: 33.3333333%;
    height: auto;
    float: left;
    padding: 8px;
    margin: 20px 0px;

}

.s-card a {
    display: inline-block;
    width: 100%;
    position: relative;
}

.s-card a img {
    width: 100%;
    transition: opacity 0.2s;
    transition: box-shadow 0.2s;
    transition: border-radius 0.2s;
}

.s-card a div {
    
    font-size: 21px;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    color: #fff;
    transition: all 0.4s;
}

.s-card a:hover div {
    opacity: 1;
    font-size: 26px;
}

.s-card a:hover img {
    opacity: 0.7;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

footer {
    position: relative;
}

.creater {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    color: #027DB0;
    padding: 5px;
    padding-right: 8px;
}

/*About*/
.about {
    height: 85vh;
    text-align: center;
    color: #fff;
    padding: 10px;
    padding-top: 100px;
    background-image: 
    linear-gradient(to left bottom, rgba(79,86,78,0.6) 5%, rgba(43,43,43,0.6) 85%),
    url(Photos/about-contact.jpg);
    background-size: cover;
}

.about .container p {
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 8px;
    transition: all 0.3s;
    background-color: black;
    opacity: 0.6;
}

.about .container p:hover {
    background-color: black;
    opacity: 0.73;
    color: #fff;
    -webkit-box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.75);
}


/*contact*/
.contact {
    height: 85vh;
    text-align: center;
    color: #fff;
    padding: 10px;
    padding-top: 100px;
    background-image: 
        linear-gradient(to left bottom, rgba(79,86,78,0.6) 5%, rgba(43,43,43,0.6) 85%),
        url(Photos/about-contact.jpg);
    background-size: cover;

}

.bg-color-list {
    background-color: rgba(184, 218, 255, 0.9);
    color: #333;
    transition: all 0.3s;
}

.bg-color-list:hover {
    color: #fff;
    background-color: #333;
}

.note {
    font-size: 10px;
}


.insta-link{
    display: inline-block;
    margin: 10px;
    padding: 8px;
    border-radius: 8px;
    color: #333;
    transition: all 0.3s;
    background-color: #ABCAEB;
}

.insta-link:hover{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

@media screen and (max-width:576px) {
    .s-card {
        width: 100%;
    }
}


.login_page{

    height: 85vh;
    text-align: center;
    color: #fff;
    padding-top: 100px;
    background-image: url(Photos/login-register.jpg);
    background-size: cover;
    
}

.form_login{
    opacity: 1.5;
    background-color: rgba(194, 217, 228 ,0.7);
}

/*Success*/
.success {
    height: 85vh;
    text-align: center;
    color: #fff;
    padding: 10px;
    padding-top: 100px;
    background-image: url(Photos/success.jpg);
    background-size: cover;
}

.success .container p {
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 8px;
    transition: all 0.3s;
    background-color: black;
    opacity: 0.6;
}

.success .container p:hover {
    background-color: black;
    opacity: 0.73;
    color: #fff;
    -webkit-box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.75);
}

/*Profile*/

input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;
  
     width: 100px;
    height: 100px;
	border:2px solid #03b1ce ;}
	.tital{ font-size:16px; font-weight:500;}
	 .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}